<html>

<head>
    <title>University Registration System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <h1>Add/Remove Course</h1>
        <div id="Course">
            <input type="text" id="Course_ID"               placeholder="Course ID Number">
            <button onclick="search_course()">Search</button>
            <br><br>
            <input type="text" id="Course_Name"             placeholder="Course Name">
            <input type="text" id="Course_Number_Credits"   placeholder="Number Of Credits">
            <input type="text" id="Course_Rubric"           placeholder="Rubric">
            <input type="text" id="Course_Number"           placeholder="Number">
            <button onclick="add_course()">Add</button>
        </div>


    <h1>Add/Remove Section</h1>
        <div id="Section">
            <input type="text" id="Section_ID"          placeholder="Section ID Number">
            <button onclick="search_section()">Search</button>
            <br><br>
            <input type="text" id="Section_Semester"    placeholder="Semester">
            <input type="text" id="Section_Course_ID"   placeholder="Course ID Number">
            <input type="text" id="Section_Schedule"    placeholder="Schedule">
            <input type="text" id="Section_Instructor"  placeholder="Instructor">
            <button onclick="add_section()">Add</button>
        </div>

    <h1>Add/Remove Student</h1>
        <div id="Student">
            <input type="text" id="Student_ID"      placeholder="Student ID Number">
            <button onclick="search_student()">Search</button>
            <br><br>
            <input type="text" id="Student_Name"    placeholder="Name">
            <input type="text" id="Student_Address" placeholder="Address">
            <input type="text" id="Student_Email"   placeholder="Email">
            <button onclick="add_student()">Add</button>
        </div>

    <h1>De/Register Student</h1>
        <div id="Registration">
            <input type="text" id="Registration_ID"          placeholder="Registration ID Number">
            <button onclick="search_registration()">Search</button>
            <br><br>
            <input type="text" id="Registration_SectionID"  placeholder="Section ID Number">
            <input type="text" id="Registration_StudentID"  placeholder="Student ID Number">
            <input type="text" id="Registration_Grade"      placeholder="Grade">
            <button onclick="add_registration()">Add</button>
        </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>