<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Registration System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <section id="logo">
    <h1>University Registration System</h1>
    </section>

    <section id="background">

        <label for="operations">Select Operation Group:</label>
        <select id="operations" onchange="showDiv()">
            <option value="Course" selected>Course Operations</option>
            <option value="Section">Section Operations</option>
            <option value="Student">Student Operations</option>
            <option value="Registration">Registration Operations</option>
        </select>

        <div id="Course" style="display:none;">
            <h2>Course Operations</h2>
            <input type="text" id="Course_ID"               placeholder="Course ID Number">
            <button onclick="search_course()">SEARCH</button>
            <button onclick="delete_course()">DELETE</button>
            <button onclick="modify_course()">MODIFY</button>
            <br><br>
            <input type="text" id="Course_Name"             placeholder="Course Name">
            <input type="text" id="Course_Number_Credits"   placeholder="Number Of Credits">
            <br>
            <input type="text" id="Course_Rubric"           placeholder="Rubric">
            <input type="text" id="Course_Number"           placeholder="Number">
            <br>
            <button onclick="add_course()">ADD</button>
            <button onclick="get_all_Courses()">SEARCH ALL COURSES</button>
        </div>

        <div id="Section" style="display:none;">
            <h2>Section Operations</h2>
            <input type="text" id="Section_ID"          placeholder="Section ID Number">
            <button onclick="search_section()">SEARCH</button>
            <button onclick="delete_section()">DELETE</button>
            <button onclick="modify_section()">MODIFY</button>
            <br><br>
            <input type="text" id="Section_Semester"    placeholder="Semester">
            <input type="text" id="Section_Course_ID"   placeholder="Course ID Number">
            <br>
            <input type="text" id="Section_Schedule"    placeholder="Schedule">
            <input type="text" id="Section_Instructor"  placeholder="Instructor">
            <br>
            <button onclick="add_section()">ADD</button>
            <button onclick="get_all_Sections()">SEARCH ALL SECTIONS</button>
        </div>

        <div id="Student" style="display:none;">
            <h2>Student Operations</h2>
            <input type="text" id="Student_ID"      placeholder="Student ID Number">
            <button onclick="search_student()">SEARCH</button>
            <button onclick="delete_student()">DELETE</button>
            <button onclick="modify_student()">MODIFY</button>
            <br><br>
            <input type="text" id="Student_Name"    placeholder="Name">
            <input type="text" id="Student_Address" placeholder="Address">
            <br>
            <input type="text" id="Student_Email"   placeholder="Email">
            <br>
            <button onclick="add_student()">ADD</button>
            <button onclick="get_all_Students()">SEARCH ALL STUDENTS</button>
        </div>

        <div id="Registration" style="display:none;">
            <h2>Student Operations</h2>
            <input type="text" id="Registration_ID"          placeholder="Registration ID Number">
            <button onclick="search_registration()">SEARCH</button>
            <button onclick="delete_registration()">DELETE</button>
            <button onclick="modify_registration()">MODIFY</button>
            <br><br>
            <input type="text" id="Registration_Section_ID"  placeholder="Section ID Number">
            <input type="text" id="Registration_Student_ID"  placeholder="Student ID Number">
            <br>
            <input type="text" id="Registration_Grade"      placeholder="Grade">
            <br>
            <button onclick="add_registration()">ADD</button>
            <button onclick="get_all_Registrations()">SEARCH ALL REGISTRATIONS</button>
        </div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        window.onload = function() {
            showDiv();
        };
    </script>
    
</body>

</html>